 <% if @article.nil? %>
    <h3>Нова статия</h3>
<% else %>
    <h3>Промени статия</h3>
<% end %>


<% if @article.nil? %>
    <form method="POST" action="/edit/articles/create" enctype="multipart/form-data">
<% else %>
    <form method="POST" action="/edit/articles/update" enctype="multipart/form-data">       
<% end %>

    <div class="form-group">
    <img id="picture-preview" src="/article_pictures/<%= @article.picture unless @article.nil? %>" height="250"/>
    <div class="clear"></div>
    <label>Картинка:</label>
    <input id="picture" type="file" name="picture" required/>
    </div>

    <ul class="nav nav-tabs" style="margin:25px 0;">
        <li class="active"><a data-toggle="tab" href="#article-bulgarian">Български</a></li>
        <li><a data-toggle="tab" href="#article-english">Английски</a></li>
    </ul>

    <div class="tab-content">
        <div id="article-bulgarian" class="tab-pane fade in active">
            <div class="form-group">
                <label>Заглавие:</label>
                <input value="<%= @article.title_bg unless @article.nil? %>"
                type="text" class="form-control" name="title_bg" placeholder="Заглавие" required>
            </div> 
            <div class="form-group">
                <label>Текст:</label>
                <textarea class="article-text form-control" name="text_bg">
                    <%= @article.text_bg unless @article.nil?%>
                </textarea>
            </div>
        </div>
        <div id="article-english" class="tab-pane fade">
            <div class="form-group">
                <label>Заглавие:</label>
                <input value="<%= @article.title_en unless @article.nil? %>"
                type="text" class="form-control" name="title_en" placeholder="Title" required>
            </div>
            <div class="form-group">
                <label>Текст:</label>
                <textarea class="article-text form-control" name="text_en" required>
                    <%= @article.text_en unless @article.nil? %>
                </textarea>
            </div>
        </div>
    </div>
     <div class="form-group">
        <label>Тагове:</label>
        <input type="text" class="form-control" name="tags" data-role="tagsinput" value="3" placeholder="Tags" required>
    </div>  
    <button type="submit" class="btn btn-primary right">
        <% if @article.nil? %>
            Публикувай
        <% else %>
            Обнови            
        <% end %>
    </button>
</form>

<script>
    $('.article-text').wysihtml5({
        toolbar: {
        fa: true
        }
    });

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#picture-preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#picture").change(function(){
        readURL(this);
    });

</script>