<% if flash[:error] %>
    <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<% if flash[:success] %>
    <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<div class="row article">
    <div class="col-md-12">
        <h3><%= @article.title %></h3>
    </div>
    <div class="col-md-12">
        <p><img src="/article_pictures/<%= @article.picture %>" width="350" class="left">
        <%= @article.description %></p>
    </div>
</div>

<h4 class="mt-40"><%= I18n.t('comments') %></h4>
<div id="comments">
<% if @article.comments.empty? %>
    <p class="alert alert-info"><%= I18n.t('no_comments_article') %></p>
<% else %>
    <% @article.comments.each do |comment| %>
        <div class="row article-comment">
            <div class="col-md-3 comment-user">
                <b><%= comment.user.name %></b>
            </div>
            <div class="col-md-9 comment-text">
                <%= comment.text %>
            </div>
            <% if user_signed_in? && current_user.admin? %>
            <div class="edit-comment">
                <a href="/admin/comments/edit/<%= comment.id %>"><%= I18n.t('change') %></a>
                <a href="/admin/comments/delete/<%= comment.id %>"><%= I18n.t('delete') %></a>
            </div>
            <% end %>
        </div>
    <% end %>
<% end %>
</div>

<% if user_signed_in? %>
<h4 class="mt-40"><%= I18n.t('add_comment') %></h4>
<div class="manage-comment">
    <form method="POST" action="/articles/add_comment/">
        <textarea name="comment"></textarea>
        <input name="article_id" type="text" value="<%= @article.id %>" class="hidden">
        <button type="submit" class="btn btn-primary"><%= I18n.t('add_comment') %></button>
    </form>
</div>
<% else %>
    <div id="cannot-comment">
        <h5><%= I18n.t('register_to_comment') %></h5>
    </div>
<% end %>

<script>
    $('.manage-comment textarea').wysihtml5({
    toolbar: {"font-styles": false,
        "emphasis": true,
        "lists": false,
        "html": false,
        "link": false,
        "image": false,
        "color": false,
        "blockquote": false}
    });
</script>