<% if @users.count == 1 %>
    <p class="alert alert-info">За съжалание в блога няма други потребители все още!</p>
<% else %>
    <table class="table table-striped">
     <thead>
        <tr>
            <th>E-mail</th>
            <th>Name</th>
            <th style="text-align:center;">Администратор</th>
        </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.name %></td>
                    <td align="center"><input type="checkbox" <%= 'checked = "checked"' unless user.rank == 0 %>  id="user-<%= user.id %>" onclick="return change_rank('<%= user.id %>');" ></td>
                </tr>
            <% end %>
        </tbody>
        </table>    

<% end %>

<script>
    function change_rank(user_id)
    {
        var new_rank = $('#user-' + user_id).prop('checked') ? 1 : 0;
       $.redirect('/edit/users/set_rank/', {user: user_id, rank: new_rank});
    }
</script>