<h2 class="page-header"><%= I18n.t('forgot_password') %></h2>

<% if flash[:success] %>
    <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<form method="post" action="/users/forgotten_password">
  <div class="form-group">
    <label>E-mail:</label>
    <input type="text" class="form-control" name="email" placeholder="E-mail" required>
  </div>
  <div class="form-group">
    <label><%= I18n.t('secret_question') %></label>
    <input type="text" class="form-control" name="secret_answer" placeholder="<%= I18n.t('secret_question_example') %>" required>
  </div>
    <div class="form-group">
    <label><%= I18n.t("new_password") %></label>
    <input type="password" class="form-control" name="new_password" placeholder="<%= I18n.t("new_password") %>"/>
    <small class="text-muted">
      <%= I18n.t("password_field_description") %>
    </small>
  </div>
  <button type="submit" class="btn btn-default right"><%= I18n.t('restore_password') %></button>
</form>