<h2 class="page-header"><%= I18n.t('login') %></h2>

<% if flash[:success] %>
    <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<form method="post" action="/users/login">
  <div class="form-group">
    <label>E-mail:</label>
    <input type="text" class="form-control" name="email" placeholder="E-mail" required>
  </div>
  <div class="form-group">
    <label><%= I18n.t('password') %>:</label>
    <input type="password" class="form-control" name="password" placeholder="Парола" required>
  </div>
  <a href="/users/forgotten_password" class="left">Забравена парола</a>
  <button type="submit" class="btn btn-default right"><%= I18n.t('login_button') %></button>
</form>