<h3 class="page-title"><%= I18n.t("register") %></h3>
<div id="status-messages">
  <% if flash[:success] %>
      <p class="bg-success"><%= flash[:success] %></p>
  <% end %>
  
  <% if defined? errors and !errors.empty? %>
    <% errors.keys.each do |attr| %>
      <p class="alert alert-danger"><%= errors[attr][0] %></p>
    <%end %>
  <% end %>

</div>
<form id="register-form" method="post" onsubmit="return validatePasswords()">
  <div class="form-group">
    <label>E-mail:</label>
    <input type="text" class="form-control" name="email" placeholder="E-mail"/>
  </div>
  <div class="form-group">
    <label><%= I18n.t("name") %>:</label>
    <input type="text" class="form-control" name="name" placeholder="<%= I18n.t("name") %>"/>
  </div>
  <div class="form-group error">
    <label><%= I18n.t("password") %></label>
    <input type="password" class="form-control" name="password" placeholder="<%= I18n.t("password") %>"/>
    <small class="text-muted">
      <%= I18n.t("password_field_description") %>
    </small>
  </div>
  <div class="form-group error">
    <label><%= I18n.t("confirm_password") %></label>
    <input id='confirm_password' type="password" class="form-control" placeholder="<%= I18n.t("confirm_password") %>"/>
  </div>
  <div class="form-group error">
    <label><%= I18n.t("secret_question") %></label>
    <input type="text" class="form-control" name="secret_answer" placeholder="<%= I18n.t("secret_question_example") %>"/>
    <small class="text-muted">
      <%= I18n.t("secret_question_description") %>
    </small>
  </div>

  <button type="submit" class="btn btn-primary right"><%= I18n.t("register") %></button>
</form>

<script>
    function validatePasswords() {
        var confirmPasswordCorrect = $('#password input').val() == $('#confirm-password input').val();
        if(confirmPasswordCorrect){
          // Send the registration request
          return true;
        }
        
        // Show error
        $('#status-messages').append($('<div />', {
            'class' : 'alert alert-danger',
            'text' : 'Паролите коите сте въвели не съвпадат'
        }));
        
        return false;

    }
</script>